.main {
    display: grid;
    grid-template-rows: 69px 1fr 248px;
    height: 100%;
    width: 100%;
    max-width: 1280px;
}
@media (max-width: 767px) {
    .main {
        max-width: 767px;
    }
}

@media (max-width: 428px) {
    .main {
        grid-template-rows: 69px 1fr 106px;
        max-width: 428px;
    }
}
