.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 28px;

  .recipes {
    padding-left: 70px;
    display: grid;
    grid-template-rows: 83px 1fr;
    gap: 11px;
    align-items: center;

    h2 {
      color: #d84a4a;
      font-family: Monster Clubhouse;
      font-weight: normal;
      font-size: 67px;
    }
  }
}

@media (max-width: 767px) {
  .content {
    .recipes {
      margin-top: 70px;
    }
  }
}

@media (max-width: 428px) {
  .content {
    .recipes {
      padding-left: 10px;
      margin-top: 160px;
    }
  }
}
